:root {
  --modal-backround-kolor: #fcfcfc;
  --header-backround: #ffffff;
  --image-backround: #2e2f42;
  --light-backround: #f4f4fd;
  --acent-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --text: #434455;
  --pressed-state: #404bbf;
  --pimary-brand: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--header-backround);
  color: var(--text);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* HEADER */

.logo-link {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--pimary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link:hover {
  color: var(--pressed-state);
}

.logo-studio {
  font-family: "Raleway", sans-serif;

  align-items: center;

  color: var(--light-backround);
}
.logo-studio-link {
  color: var(--image-backround);
}

.link-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--image-backround);
}

.link-menu:hover {
  color: var(--pressed-state);
}
.link-menu:focus {
  color: var(--pressed-state);
}

/* MAIN */

.title-section {
  background: var(--image-backround);
}

.main-page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-backround);
}

.btn-order {
  font-family: "Roboto", sans-serif;
  background: var(--pimary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--header-backround);

  cursor: pointer;
}

.btn-order:hover {
  background-color: var(--pressed-state);
}

.btn-order:focus {
  background-color: var(--pressed-state);
}

.link-information {
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  color: var(--text);

  letter-spacing: 0.02em;
}

.link-information:hover {
  color: var(--pressed-state);
}

.link-information:focus {
  color: var(--pressed-state);
}

.information {
  background: var(--header-backround);
}

.title-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--image-backround);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.subtitle-main-page {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--image-backround);
}

.section-team {
  background: var(--light-backround);
}

.desc-menu {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--image-backround);
}

.images-photo {
  background: var(--header-backround);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--image-backround);
}

.specialty {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* FOOTER */

.closing {
  background: var(--image-backround);
}

.paragraph-ft {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-backround);
}

/* MAIN PORTFOLIO */

.main-menu-one {
  font-family: "Roboto", sans-serif;
  background: var(--light-backround);

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--pimary-brand);
  cursor: pointer;
}
.main-menu-one:hover {
  color: var(--header-backround);
}

.main-menu-one:focus {
  color: var(--header-backround);
}

.main-menu-one:hover {
  background-color: var(--pressed-state);
}

.main-menu-one:focus {
  background-color: var(--pressed-state);
}

.link-address {
  font-style: normal;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--image-backround);
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--text);
}
